.container {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.Fällig{
     background-color: red;
    border: 2px;
}

.task-placeholder {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.task {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h1 {
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}